body{
    font-size: 62.5%;
    background-image: url('./images/LandingBG.jpg');
    background-size: cover;
    height: 100%;
    max-width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    /* backdrop-filter: blur(4px); */
    
}
.wrapper *{
    font-family: 'EB Garamond', serif;
    color: rgb(88, 88, 88);
}


.header{
    display: flex;
    justify-content: space-between;   
    font-size: 1.6em;
    align-items: center;
    margin-top: 10px;

    .header-menu{
        span{
        font-size: 1.6em;
        margin-right: 30px;   
        } 
    }

    span:hover{
        color: rgb(174, 174, 174);
        cursor: pointer;    
    }
}

.logo{
    display: flex;
    align-items: center;  
    img{
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        border: 1px solid #dcdcdc;
    }  
    .logo-text{
        font-size: 1.6rem;
    }
}


.searchbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e5e5;   
    border-radius: 15px;      
    padding: 3px;            
    width:20%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
    background-color: rgb(243, 243, 243);

    input{
        border: none;
        outline: none;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        background-color:transparent;
        
    }
    svg{
        padding-left: 10px;
    }
}


.textA{ 
    font-size: 4rem;
    line-height: 76px;
    text-align: center;
    }

.textB{
    font-size: 2rem;
    text-align: center;
}

.btn{    
    display: flex;
    justify-content: center;

    button{
        font-size: 1.2rem;
        background-color: rgb(243, 243, 243);;
        border: 1px solid #dcdcdc;   /* Border color */
        border-radius: 15px;      /* Adjust the border-radius for curved corners */
        padding: 10px;             /* Add padding for better visual appearance */
        width: 110px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }

    button:hover {
        background-color: #dbdbdb; 
        cursor: pointer;
    }
    
}

/* Center the Why Us section */
.why-us {    
    max-width: 100%;
    margin: 0 auto;
}
.reason-items{
    display: flex;
    margin-bottom: 10vh;
}
/* Style the section title */
.section-title {
    text-align: center;
    margin-top: 4%;
    font-size: 2.4rem;
    margin-bottom: 0;
}

/* Style the individual reasons */
.reason{
    font-size: 1.6rem;
    margin: 0 2% 0 2%; /*top right bottom left*/

    h3 {
    color: #007BFF;
    margin-bottom: 10px;
    }
}

.reason-description {
    color: #555;
    font-size: 1.1rem;  
    text-align: justify;   
    padding: 0;   
}

.trading-charts{
    text-align: center;
    h2{
        font-size: 2.4rem;
    }
}


/* Footer Section */
footer {
    background-color: #333;
    width: 100%;
    font-size: 1.6rem;
    height: 10vh;    

    .copyright{
        text-align: center;        
        a {            
            text-decoration: none;
        }
        a:hover{
            color: #007BFF;
        }
    }
}







@media only screen and (max-width: 768px) {
    .parent {
      flex-direction: column; 
      align-items: center;    
    }
  
    .searchbox {
      width: 80%; 
    }
  
    .textA {
      font-size: 36px;      
      line-height: 48px;    
      margin-top: 30px;
    }
  
    .btn button {
      width: 80%; 
      height: 40px; 
    }
}

  