body{
    background-image: url('./images/LandingBG.jpg');
    background-size: cover;
    height: 100cqb;
    background-position: center center;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(4px); */
    filter: brightness(.9);
}

.header{
    display: flex;
    justify-content: space-between;   
    font-size: 25px;
    align-items: center;
}

.logo{
    font-family: 'EB Garamond', serif;
    color: rgb(74, 74, 74);
    display: flex;
    align-items: center;    
}
.ll{
    display: flex;
    align-items: center;
}
.ll img{
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #dcdcdc;
}
.header{
    display: flex;
    justify-content: space-between;    
}

span{
    font-family: 'EB Garamond', serif;
    font-weight: 50px;    
    margin-right: 30px;
    
}
.searchbox{
    display: flex;
    border: 2px solid #e5e5e5;   
    border-radius: 15px;      
    padding: 3px;            
    width: 400px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    align-items: center;
    background-color: white;
}
.searchbox input{
    font-family: 'EB Garamond', serif;
    border: none;
    outline: none;
    width: 360px;
    text-align: center;
    font-size: 23px;
    background-color:transparent;
    
}

.searchbox svg{
    display: flex;      
    align-items: center;
    padding-left: 10px;
}

.textA{
    font-family: 'EB Garamond', serif;
    color: rgb(74, 74, 74);
    font-size: 56px;
    line-height: 76px;
    margin-top: 54px;
    text-align: center;
    }



.textB h3{
    font-family: 'EB Garamond', serif;
    color: rgb(88, 88, 88);
    font-size: 46px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}

.btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.btn button{
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dcdcdc;   /* Border color */
    border-radius: 15px;      /* Adjust the border-radius for curved corners */
    padding: 3px;             /* Add padding for better visual appearance */
    width: 120px; 
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
    
      

}

.btn button:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}
span:hover{
    color: rgb(133, 133, 133);
    cursor: pointer;
    
}



@media only screen and (max-width: 768px) {
    .parent {
      flex-direction: column; 
      align-items: center;    
    }
  
    .searchbox {
      width: 80%; 
    }
  
    .textA {
      font-size: 36px;      
      line-height: 48px;    
      margin-top: 30px;
    }
  
    .btn button {
      width: 80%; 
      height: 40px; 
    }
  }
  